ion-list, .list-ios, .list-md {
    background: none;
}

ion-progress-bar {
    height: 1em;
}

ion-content {
    --background: var(--ion-color-light);
    --color: var(--ion-color-light-contrast);
}

ion-card ion-item {
    --inner-border-width: 0px;
}