ion-toolbar, ion-content, ion-footer {
    --background: var(--ion-color-secondary) !important;
}

ion-toolbar ion-button,
ion-toolbar ion-back-button {
    --color: var(--ion-color-secondary-contrast) !important;
}

ion-list, .list-ios, .list-md {
    background: none;
}

ion-item {
    --background: var(--ion-color-primary);
}

ion-progress-bar {
    height: 1em;
}