.list-ios.no-background, 
.list-md.no-background {
    background: none;
}

ion-progress-bar {
    height: 1em;
}

ion-header {
  background: var(--ion-color-primary);
}

ion-header ion-toolbar {
  max-width: 1200px;
  margin: 0 auto;
}

ion-content {
    --background: var(--ion-color-light);
    --color: var(--ion-color-light-contrast);
}

ion-card ion-item {
    --inner-border-width: 0px;
}