:root {
  --ion-color-primary: #CF2C4B;
  --ion-color-primary-rgb: 207,44,75;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #b62742;
  --ion-color-primary-tint: #d4415d;

  --ion-color-secondary: #909685;
  --ion-color-secondary-rgb: 144,150,133;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #7f8475;
  --ion-color-secondary-tint: #9ba191;

  --ion-color-tertiary: #8C8C8E;
  --ion-color-tertiary-rgb: 140,140,142;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #7b7b7d;
  --ion-color-tertiary-tint: #989899;

  --ion-color-success: #7ba55d;
  --ion-color-success-rgb: 123,165,93;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #6c9152;
  --ion-color-success-tint: #88ae6d;

  --ion-color-warning: #f89525;
  --ion-color-warning-rgb: 248,149,37;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #da8321;
  --ion-color-warning-tint: #f9a03b;

  --ion-color-danger: #f44336;
  --ion-color-danger-rgb: 244,67,54;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d73b30;
  --ion-color-danger-tint: #f5564a;

  --ion-color-dark: #1c1d20;
  --ion-color-dark-rgb: 28,29,32;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #191a1c;
  --ion-color-dark-tint: #333436;

  --ion-color-medium: #32343e;
  --ion-color-medium-rgb: 50,52,62;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #2c2e37;
  --ion-color-medium-tint: #474851;

  --ion-color-light: #F4F0EE;
  --ion-color-light-rgb: 244,240,238;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d3d1;
  --ion-color-light-tint: #f5f2f0;
}