:root {
  --ion-color-primary: #FCF5C7;   --ion-color-secondary-rgb: 255,238,147;   --ion-color-secondary-contrast: #000000;   --ion-color-secondary-contrast-rgb: 0,0,0;   --ion-color-secondary-shade: #e0d181;   --ion-color-secondary-tint: #fff09e;;
  --ion-color-primary-rgb: 252,245,199;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #ded8af;
  --ion-color-primary-tint: #fcf6cd;

  --ion-color-secondary: #A0CED9;
  --ion-color-secondary-rgb: 160,206,217;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #8db5bf;
  --ion-color-secondary-tint: #aad3dd;

  --ion-color-tertiary: #B6174B;
  --ion-color-tertiary-rgb: 182,23,75;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #a01442;
  --ion-color-tertiary-tint: #bd2e5d;

  --ion-color-success: #C4F7A1;
  --ion-color-success-rgb: 196,247,161;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #acd98e;
  --ion-color-success-tint: #caf8aa;

  --ion-color-warning: #FFEE93;
  --ion-color-warning-rgb: 255,238,147;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0d181;
  --ion-color-warning-tint: #fff09e;

  --ion-color-danger: #FFC09F;
  --ion-color-danger-rgb: 255,192,159;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #e0a98c;
  --ion-color-danger-tint: #ffc6a9;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}